* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #8b61ff;
  --secondary-color: #8c91a4;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 480px) {
  body {
    background-color: #fbfbfb;
    color: var(--secondary-color);
  }

  .pricing {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Poppins", sans-serif;
    align-items: center;
    margin: 0 5vw 0 5vw;
  }
  .pricing h1 {
    color: #000000;
    font-weight: 700;
    font-size: 1.8em;
    padding-bottom: 3vh;
  }
  .price-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .pricecard {
    margin: 2vh 0 2vh 0;
  }
  .pricecard .price-title {
    background-color: var(--primary-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    font-size: 1.8em;
    font-weight: 600;
    padding: 4vh 2vh 4vh 2vh;
  }
  .pricecard .price-slice1 {
    border: 1px rgb(212, 212, 212) solid;
    padding-top: 5vh;
  }
  .pricecard .price {
    color: var(--primary-color);
    font-size: 2em;
    font-weight: 600;
    padding: 3vh 0 3vh 0;
  }
  .pricecard .price-slice2 {
    border: 1px rgb(212, 212, 212) solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .pricecard .price-slice2 ul {
    list-style: none;
    color: #000000;
    margin-top: 5vh;
  }
  .pricecard .price-slice2 li {
    margin: 1vh 0 1vh 0;
  }
  .pricecard .price-slice2 button {
    border: 1px solid var(--primary-color);
    padding: 2vh 5vh 2vh 5vh;
    background-color: white;
    border-radius: 35px;
    margin: 3vh 0 6vh 0;
    box-shadow: 0px 4px 8px #8b61ff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: var(--primary-color);
  }
  .pricecard .price-slice2 #standard-btn {
    background-color: #8b61ff;
    border: 1px solid var(--primary-color);
    color: white;
  }

  .blog {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
    margin: 0 5vw 0 5vw;
    line-height: 180%;
  }
  .blog h1 {
    color: #000000;
    font-weight: 700;
    font-size: 1.8em;
    padding-bottom: 3vh;
    margin-top: 10vh;
  }
  .blog-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
  #art1{
    background-image: url(https://picsum.photos/400/600);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width:90vw;
    height:50vh;
    margin: 2vh 0vh 2vh 0vh;
    display: flex;
    flex-direction: column-reverse;
    border: #b0b0b0;
    border-radius: 5px;
    box-shadow: 0px 5px 20px rgb(238, 238, 238);
  }
  #art2{
    background-image: url(https://picsum.photos/400/600);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width:90vw;
    height:50vh;
    margin: 2vh 0vh 2vh 0vh;
    display: flex;
    flex-direction: column-reverse;
    border: #b0b0b0;
    border-radius: 5px;
    box-shadow: 0px 5px 20px rgb(238, 238, 238);
  }
  #art3{
    background-image: url(https://picsum.photos/400/600);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width:90vw;
    height:50vh;
    margin: 2vh 0vh 2vh 0vh;
    display: flex;
    flex-direction: column-reverse;
    border: #b0b0b0;
    border-radius: 5px;
    box-shadow: 0px 5px 20px rgb(238, 238, 238);
  }
  .art-desc{
    width:75%;
    height:30%;
    background-color: white;
    line-height: 140%;
    padding: 5%;
    border-bottom-left-radius: 5px;
  }
  .art-desc h2{
    font-size: 1.2em;
    color: #000000;
    font-weight: 600;
    text-align: left;
  }
  .art-desc p{
    text-align: left;
  }
  .blog-button{
    border: 1px solid var(--primary-color);
    padding: 2vh 5vh 2vh 5vh;
    background-color: #8b61ff;
    border-radius: 35px;
    margin: 3vh 0 6vh 0;
    box-shadow: 0px 4px 8px #8b61ff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: white;
    width: 50vw;
  }
} 
